    <h1>Search for an Artist</h1>
  <form action="/artist-search" method="GET">
    <label for="artist">Artist Name:</label>
    <input type="text" id="artist" name="artist">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>